<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

	<head>
		<meta charset='utf-8'/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width,maximum-scale=2" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
		{% seo %}
	</head>

	<body>

		<!-- ******************************** -->
		<!-- HEADER                           -->
		<!-- ******************************** -->
		<div id="header_wrap" class="outer">
			<header class="inner">
				<a id="forkme_banner" href="https://github.com/sphinkie">View on GitHub</a>
				<h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
				<h2 id="project_tagline">Projects hosted at GitHub.com</h2>
			</header>
		</div>

		<!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">

			<!-- ******************************** -->
			<!-- Section : Software for Windows   -->
			<!-- ******************************** -->
			<section class="inner">
				<h1>Software for Windows</h1>
				<table style="border:15px solid #f2f2f2;">
					<thead>
						<tr>		
							<th style="border:15px solid #f2f2f2;">SOAP Message Viewer</th>
							<th style="border:15px solid #f2f2f2;">Registry Fine Viewer</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border:0px">
								<a href="https://sphinkie.github.io/SOAP-Message-Viewer/" >
									<img src="images/soapmessageviewer.png" alt="" style="border:0px; box-shadow:0px 0px 0px #000; width:320px; height:auto;" />
								</a>
								<p>SOAP Message Viewer is a C++ utility that displays the content of the messages of a SOAP trace record (ie: of a web_messages.svclog file).</p>
								<a href="https://sphinkie.github.io/SOAP-Message-Viewer/" class="special">Learn more & download the application</a>
							</td>
							<td style="border:0px">
								<a href="https://sphinkie.github.io/RegFineViewer/" class="image">
									<img src="images/regfineviewer.png" alt="" style="border:0px; box-shadow:0px 0px 0px #000; width:320px; height:auto;" />
								</a>
								<p>RegFineViewer is a C# utility to visualize and navigate easily the Windows Registry.</p>
								<a href="https://sphinkie.github.io/RegFineViewer/" class="special">Learn more & download the application</a>
							</td>
						</tr>				
					</tbody>
				</table>
			</section>

			<!-- ******************************** -->
			<!-- Dark Section : Open-source       -->
			<!-- ******************************** -->
			<section class="outer" id="header_wrap">
				<p id="project_title" style="text-align:right; padding-right:3em;">Contributions to large open-source projects</p>
				<div class="inner">
					<h1 style="color: #F2F2F2;">Geometrik:</h1>
					<p style="color: #F2F2F2;">A C++ graphic library for the open-source game engine <b>ogre3D</b>
					for creating dynamicaly 3D geometrical meshes, from cubes and spheres to more elaborate shapes.
					</p>
					<a href="https://sphinkie.github.io/Geometrik/" style="text-align:right;">Get access to source code...</a>
					<a href="https://sphinkie.github.io/Geometrik/" ><img src="images/geometrik.png" alt="a wireframe ellipsoid" style="border:0px; box-shadow:none; vertical-align:top;" /></a>
				</div>
				<div class="inner">
					<a href="https://sphinkie.github.io/StarGen-II/" >
						<img class="outer" src="images/SG-w_transparency.png" alt="StarGen-II banner" style="border:0px; box-shadow:none;" />
						<h1 style="color: #F2F2F2;">StarGen-II:</h1>
					</a>
					<p style="color: #F2F2F2;">A C++ library that generates realistics solar-systems based on physical laws 
					and real astronomical data. It uses the <em>Celestia</em> database of 120.000 known stars, and the algorithms of <em>Stargen</em> C-program.</p>
					<a href="https://sphinkie.github.io/StarGen-II/">Get access to source code...</a>
				</div>
			</section>

			<!-- ******************************** -->
			<!-- Section : PROFESSIONAL           -->
			<!-- ******************************** -->
			<section id="main_content" class="inner">  
				<h1>Professional Utilities</h1>
				<table style="border:0px" >
						<tr>
							<td style="border:0px;">
								<img src="images/BouchonVTR-540.png" alt="VTR Emulator screenshot" style="border:0px; box-shadow:8px 8px 6px #212121; width:320px; height:auto; padding:0;" />
							</td>
							<td style="border:0px; vertical-align:top;">
								<h3 style="color: #F2F2F2; background-color: #212121;">VTR Emulator</h3>
								<p>A Serial VTR emulator, running under Python. It simulates a VTR (professional Video Tape Recorder) connected to a serial port of the computer.</p>
							</td>
						</tr>
						<tr>
							<td style="border:0px;">
								<img src="images/BXFCreator-540.png" alt="BXF Creator screenshot" style="border:0px; box-shadow:8px 8px 6px #212121; width:320px; height:auto; padding:0;" />
							</td>
							<td style="border:0px; vertical-align:top;">
								<h3 style="color: #F2F2F2; background-color: #212121;">BXF Creator</h3>
								<p>This Traffic System emulator, running under Python, can generate and send BXF messages (Broadcast eXchange Format) for <em>Playlists</em> and <em>Contents</em>.</p>
							</td>
						</tr>
						<tr>
							<td style="border:0px;">
								<img src="images/BouchonSWP08-540.png" alt="tiMarantz screenshot" style="border:0px; box-shadow:8px 8px 6px #212121; width:320px; height:auto; padding:0;" />
							</td>
							<td style="border:0px; vertical-align:top;">
								<h3 style="color: #F2F2F2; background-color: #212121;">tiMarantz</h3>
								<p>Avec cette application, vous pouvez piloter votre amplificateur audio Marantz directement depuis votre smartphone, 
									pour écouter en toute simplicité vos MP3, et les stations de radios de votre choix.
									L'application n'a besoin d'aucun compte (Heos ou autre), ni d'abonnement à aucun service en ligne d'une 
									Major company musicale.</p>
							</td>
						</tr>				
						<tr>
							<td style="border:0px;">
								<img src="images/BouchonSWP08-540.png" alt="Device Bouchon screenshot" style="border:0px; box-shadow:8px 8px 6px #212121; width:320px; height:auto; padding:0;" />
							</td>
							<td style="border:0px; vertical-align:top;">
								<h3 style="color: #F2F2F2; background-color: #212121;">Devices Bouchon</h3>
								<p>Dozen of TV equipment simulated with their own protocol (mixers, switchers, video servers, branding devices).</p>
							</td>
						</tr>				
				</table>
				<p>These repositories are private</p>
			</section>

			<!-- ******************************** -->
			<!-- Dark Section : SteamPunk         -->
			<!-- ******************************** -->
			<section class="outer" id="header_wrap">
				<p id="project_title" style="text-align:right; padding-right:3em;">Steampunk Robotics !</p>
				<div class="inner">
					<h1 style="color: #F2F2F2;">Robot à bonbons:</h1>
					<p style="color: #F2F2F2;">This <em>papier-maché</em> robot is based on Arduino. 
						Coupled with a continious motor and an ultrasonic detector, it will distribute candies during birthday parties.</p>
					<a href="https://sphinkie.github.io/Robot-Bonbons" ><img src="images/Robot-Bonbons-preview.png" alt="photo of Robot à Bonbons" style="border:0px; box-shadow:none; vertical-align:top;" /></a>
					<a href="https://sphinkie.github.io/Robot-Bonbons/index" style="text-align:right;">Learn more...</a>
				</div>
				<div class="inner">
					<h1 style="color: #F2F2F2;">Arditime:</h1>
					<p style="color: #F2F2F2;"><em>Arditime</em> is a tactile timer.
					It is made with wood, copper and arduino. A tactile sensor on the top of the clock is used to set the duration of the timer (from 2 to 50 minutes),
					and at the end of the timeout, the stone glows red, and a gong sounds. </p>
					<a href="https://sphinkie.github.io/Arditime/" style="text-align:right;">Learn more...</a>
					<a href="https://sphinkie.github.io/Arditime/" ><img src="images/arditime-3.png" alt="photo of Arditime" style="border:0px; box-shadow:none; width:420px; vertical-align:top" /></a>
				</div>
				<div class="inner">
					<h1 style="color: #F2F2F2;">Radial-V:</h1>
					<p style="color: #F2F2F2;"><em>to be completed</em></p>
					<a href="https://sphinkie.github.io/Radial-V/"><img src="images/learning.png" alt="" style="border:0px; box-shadow:none;" /></a>
					<a href="https://sphinkie.github.io/Radial-V/">Learn more</a>
				</div>
			</section>

			<!-- ******************************** -->
			<!-- Section : Android Applications   -->
			<!-- ******************************** -->
			<section class="inner">
				<h1>Android Applications</h1>
				<table style="border:15px solid #f2f2f2;">
					<!--thead>
						<tr>		
							<th style="border:15px solid #f2f2f2;">TC Calcul</th>
							<th style="border:15px solid #f2f2f2;">Tiny Book Catalog</th>
						</tr>
					</thead-->
					<tbody>
						<tr>
							<td style="border:0px">
								<a href="https://play.google.com/store/apps/details?id=com.sphinkie.sgtcalcul" >
									<img src="images/tc_calcul.png" alt="TC Calcul screenshot" style="border:0px; box-shadow:none; width:16em; height:auto;" />
								</a>
								<p>TC Calcul is a handy application for converting, adding, substracting timecodes, in any unit. Very usefull, especially if you work for the TV, video or media industry...</p>
								<a href="https://play.google.com/store/apps/details?id=com.sphinkie.sgtcalcul" class="special">Download the App from Play Store!</a>
							</td>
							<td style="border:0px">
								<a href="https://sphinkie.github.io/" class="image">
									<img src="images/TinyBookCatalog2.png" alt="TinyBookCatalog screenshot" style="border:0px; box-shadow:none; width:16em; height:auto;" />
								</a>
								<p>TinyBookCatalog keeps the catalog of your books. Just scan the barcode, and the Title, Author, Cover and Abstract will be automatically filled. You can also share your catalog with your friends
								and cousins, and exchange books together.</p>
							</td>
						</tr>				
					</tbody>
				</table>
			</section>


			<!-- ******************************** -->
			<!-- Dark Section : Video Games       -->
			<!-- ******************************** -->
			<section class="outer" id="header_wrap">
				<p id="project_title" style="text-align:right; padding-right:3em;">Video games</p>
				<div class="inner">
					<h1 style="color: #F2F2F2;">Long Forgotten Earth</h1>
					<p style="color: #F2F2F2;">An <em>unfinished</em> 3D and adventure game, mixing RPG and space simulator. 
						Thousands of solar systems, procedural planets, realistic physics and astrophysics, robots, pilotable spacescraft, a little bit too ambitious maybe...
						The 3D models of the spaceship were made by an hungarian contributor partner.<br/>
					<a href="https://sphinkie.github.io/LongForgottenEarth " style="text-align:left;">Learn everything here about the game project...</a></p>
					<a href="https://sphinkie.github.io/LongForgottenEarth" ><img src="images/LFE_07.png" alt="Screenshot of LFE game" style="border:0px; box-shadow:none; width:18em; height:auto; vertical-align:top; " /></a>
					<a href="https://sphinkie.github.io/LongForgottenEarth" ><img src="images/LFE_30.png" alt="Screenshot of LFE game" style="border:0px; box-shadow:none; width:18em; height:auto; vertical-align:top; " /></a>
				</div>
			</section>

		</div>

		<!-- ******************************** -->
		<!-- FOOTER  -->
		<!-- ******************************** -->
		<div id="footer_wrap" class="outer">
			<footer class="inner">
				<p class="copyright">Website maintained by <a href="http://www.de-lorenzo.fr">David de Lorenzo</a></p>
				<p>Published with <a href="https://pages.github.com">GitHub Pages</a>
				</p>
			</footer>
		</div>


	</body>
</html>
