<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

	<head>
		<meta charset='utf-8'/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width,maximum-scale=2" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
		{% seo %}
	</head>

	<body>

		<!-- ******************************** -->
		<!-- HEADER -->
		<!-- ******************************** -->
		<div id="header_wrap" class="outer">
			<header class="inner">
				<a id="forkme_banner" href="https://github.com/sphinkie">View on GitHub</a>
				<h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
				<h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
			</header>
		</div>

		<!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">

			<!-- ******************************** -->
			<!-- Section 1 : Software for Windows -->
			<!-- ******************************** -->
			<section class="inner">
				<h1>Software for Windows</h1>
				<table style="border:15px solid #f2f2f2;">
					<thead>
						<tr>		
							<th style="border:15px solid #f2f2f2;">SOAP Message Viewer</th>
							<th style="border:15px solid #f2f2f2;">Registry Fine Viewer</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border:0px">
								<a href="https://sphinkie.github.io/SOAP-Message-Viewer/" >
									<img src="images/soapmessageviewer.png" alt="" style="border:0px; box-shadow:0px 0px 0px #000; width:320px; height:auto;" />
								</a>
								<p>SOAP Message Viewer is a C++ utility that displays the content of the messages of a SOAP trace record (ie: of a web_messages.svclog file).</p>
								<a href="https://sphinkie.github.io/SOAP-Message-Viewer/" class="special">Learn more</a>
							</td>
							<td style="border:0px">
								<a href="https://sphinkie.github.io/RegFineViewer/" class="image">
									<img src="images/regfineviewer.png" alt="" style="border:0px; box-shadow:0px 0px 0px #000; width:320px; height:auto;" />
								</a>
								<p>RegFineViewer is a C# utility to visualize and navigate easily the Windows Registry.</p>
								<a href="https://sphinkie.github.io/RegFineViewer/" class="special">Learn more</a>
							</td>
						</tr>				
					</tbody>
				</table>
			</section>

			<!-- ******************************** -->
			<!-- Section 2 : Open-source - DARK   -->
			<!-- ******************************** -->
			<section class="outer" id="header_wrap">
				<p id="project_title" style="text-align:right; padding-right:10em;">Contributions to large open-source projects</p>
				<div class="inner">
					<h1 style="color: #F2F2F2;">Geometrik:</h1>
					<p style="color: #F2F2F2;">A C++ graphic library for the open-source game engine <b>ogre3D</b>
					for creating dynamicaly 3D geometrical meshes, from cubes and spheres to more elaborate shapes.
					</p>
					<a href="https://sphinkie.github.io/Geometrik/" style="text-align:right;">Learn more...</a>
					<a href="https://sphinkie.github.io/Geometrik/" ><img src="images/geometrik.png" alt="a wireframe ellipsoid" style="border:0px; box-shadow:none; vertical-align:top;" /></a>
				</div>
				<div class="inner">
					<a href="https://sphinkie.github.io/StarGen-II/" >
						<img class="outer" src="images/SG-w_transparency.png" alt="StarGen-II banner" style="border:0px; box-shadow:none;" />
						<h1 style="color: #F2F2F2;">StarGen-II:</h1>
					</a>
					<p style="color: #F2F2F2;">A C++ library that generates realistics solar-systems based on physical laws 
					and real astronomical data. It uses the <em>Celestia</em> database of 120.000 known stars, and the algorithms of <em>Stargen</em> C-program.</p>
					<a href="https://sphinkie.github.io/StarGen-II/">Learn more</a>
				</div>
			</section>

			<!-- ******************************** -->
			<!-- Section 3 : PROFESSIONAL         -->
			<!-- ******************************** -->
			<section id="main_content" class="inner">  
				<h1>Professional Utilities</h1>
				<table style="border:0px" >
						<tr>
							<td style="border:0px;">
								<img src="images/BouchonVTR-540.png" alt="screenshot" style="border:0px; box-shadow:8px 8px 6px #212121; width:320px; height:auto; padding:0;" />
							</td>
							<td style="border:0px; vertical-align:top;">
								<h3 style="color: #F2F2F2; background-color: #212121;">VTR Emulator</h3>
								<p>A Serial VTR emulator, running under Python. It simulates a VTR (professional Video Tape Recorder) connected to a serial port of the computer.</p>
							</td>
						</tr>
						<tr>
							<td style="border:0px;">
								<img src="images/BXFCreator-540.png" alt="screenshot" style="border:0px; box-shadow:8px 8px 6px #212121; width:320px; height:auto; padding:0;" />
							</td>
							<td style="border:0px; vertical-align:top;">
								<h3 style="color: #F2F2F2; background-color: #212121;">BXF Creator</h3>
								<p>This Traffic System emulator, running under Python, can generate and send BXF messages (Broadcast eXchange Format) for <em>Playlists</em> and <em>Contents</em>.</p>
							</td>
						</tr>
						<tr>
							<td style="border:0px;">
								<img src="images/BouchonSWP08-540.png" alt="screenshot" style="border:0px; box-shadow:8px 8px 6px #212121; width:320px; height:auto; padding:0;" />
							</td>
							<td style="border:0px; vertical-align:top;">
								<h3 style="color: #F2F2F2; background-color: #212121;">Devices Bouchon</h3>
								<p>Dozen of TV equipment simulated with their own protocol (mixers, switchers, video servers, branding devices).</p>
							</td>
						</tr>				
				</table>
				<p>These repositories are private</p>
			</section>

			<!-- ******************************** -->
			<!-- Section 4 : SteamPunk - DARK   -->
			<!-- ******************************** -->
			<section class="outer" id="header_wrap">
				<p id="project_title" style="text-align:right; padding-right:10em;">Steampunk Robotics !</p>
				<div class="inner">
					<h1 style="color: #F2F2F2;">Robot à bonbons:</h1>
					<p style="color: #F2F2F2;">This <em>papier-maché</em> robot is based on Arduino. 
						Coupled with a continious motor and an ultrasonic detector, it will distribute candies during birthday parties.</p>
					<a href="https://sphinkie.github.io/Robot-Bonbons" ><img src="images/Robot-Bonbons-preview.png" alt="photo" style="border:0px; box-shadow:8px 8px 6px #000; vertical-align:top;" /></a>
					<a href="https://sphinkie.github.io/Robot-Bonbons/index" style="text-align:right;">Learn more...</a>
				</div>
				<div class="inner">
					<a href="https://sphinkie.github.io/arditime/" >
						<img class="outer" src="images/learning.png" alt="" style="border:0px; box-shadow:none;" />
						<h1 style="color: #F2F2F2;">Arditime:</h1>
					</a>
					<p style="color: #F2F2F2;"><em>description</em></p>
					<a href="https://sphinkie.github.io/arditime/">Learn more</a>
				</div>
				<div class="inner">
					<a href="https://sphinkie.github.io/radial-v/" >
						<img class="outer" src="images/learning.png" alt="" style="border:0px; box-shadow:none;" />
						<h1 style="color: #F2F2F2;">Radial-V:</h1>
					</a>
					<p style="color: #F2F2F2;"><em>description</em></p>
					<a href="https://sphinkie.github.io/radial-v/">Learn more</a>
				</div>
			</section>

			<!-- ******************************** -->
			<!-- Section : Fichier INDEX.MD       -->
			<!-- ******************************** -->
			<section id="main_content" class="inner">  
			{{ content }}
			</section>

		</div>

		<!-- ******************************** -->
		<!-- FOOTER  -->
		<!-- ******************************** -->
		<div id="footer_wrap" class="outer">
			<footer class="inner">
				{% if site.github.is_project_page %}
				<p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
				</p>
				{% endif %}
				<p>Published with <a href="https://pages.github.com">GitHub Pages</a>
				</p>
			</footer>
		</div>

		{% if site.google_analytics %}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{ site.google_analytics }}', 'auto');
			ga('send', 'pageview');
		</script>
		{% endif %}
	</body>
</html>
